@import '../../sass/base.scss';

section.features {
  .section-heading {
    margin-bottom: 50px;

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    hr {
      border-color: $gray-light;
    }
  }

  .feature-item {
    max-width: 325px;
    margin: 0 auto;
  }
}
