@import '../../sass/base.scss';

.form-modal {
  display: block;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0px;
  overflow-x: hidden;
  overflow-y: auto;

  .form-wrapper {
    margin: 150px auto 0 auto;
    max-width: 500px;
    background-color: #fff;
    transition: transform .3s ease-out;

    .form-modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid $gray-light;
      padding: 20px;

      &>h3 {
        margin-bottom: 0;
        font-weight: bold;
      }

      .close {
        &:focus {
          outline: none;
        }
      }
    }

    .form-data {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px;

      .form-item {
        &:last-child {
          margin-bottom: 0;
        }

        .item-title {
          font-weight: bold;
        }
      }
    }

    @media (max-width: 992px) {
      margin-top: 150px;
    }
  }
}
