<header class="masthead" id="top">

  <app-nav-bar></app-nav-bar>
  
  <div class="container h-100">
    
    <div class="row h-100">
      
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">BrickBundle is an innovative solution for LEGO enthusiasts</h1>
          <a angulartics2On="click" angularticsAction="get-started" [angularticsProperties]="{title: 'Get-Started Button Clicked'}" href="landing-page#get-started" class="btn btn-outline btn-xl">Start Now for Free!</a>
        </div>
      </div>

      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="../../../assets/img/IMG_0632.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  
  </div>

</header>

<app-video-box></app-video-box>
<app-get-started></app-get-started>
<app-social-network></app-social-network>
<app-footer></app-footer>