<section class="contact bg-primary" id="connect">
  
  <div class="container">
    
    <h2>We
        <fa-icon [icon]="['fas', 'heart']" [styles]="{'color': 'red'}"></fa-icon>
      new friends!
    </h2>

    <ul class="list-inline list-social">
      
      <li class="list-inline-item social-twitter">
        <a target=_blank href="https://twitter.com/intent/tweet?text=Check%20BrickBundle%20out%20now%20@&url=https://deco3801-megabloq.uqcloud.net/">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
      </li>

      <li class="list-inline-item social-facebook" data-href="https://deco3801-megabloq.uqcloud.net/" data-layout="button">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdeco3801-megabloq.uqcloud.net%2F&amp;src=sdkpreparse">
          <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
      </li>

      <li class="list-inline-item social-linkedin">
        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://deco3801-megabloq.uqcloud.net/&title=BrickBundle,%20A%20Solution%20For%20Lego%20Builder&summary=Install%20BrickBundle%20Now&source=BrickBundle">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
      </li>
    
    </ul>
  
  </div>

</section>
